/* estilos generales */

*{
  margin: 0;
  padding: 0;
}

:root{
  --colorUno: #772B08; 
  --colorDos:#8F7F10;
  --colorTres: #f7ecc4;
  --colorCuatro:#817707;
  --colorCinco:#7e3131;
  --tipografiaUno: font-family: 'Amatic SC', cursive;
  --tipografiaDos: font-family: 'Jura', sans-serif;
  --tipografiaTres: font-family: 'Playfair Display SC', serif;
  --tipografiaCuatro: font-family: 'Quicksand', sans-serif;
}



/* navbar  */
.header{
  background-color: var(--colorDos);
 padding: 1%;
 display: flex;
  justify-content: space-between;
}

.nav-link{ color: #F7ECC4;      
}

.nav-link:hover{ color: #772B08;
}

.partesNav{
  display: flex;
  align-items: center;
}

.botonExpandir:hover{
  background-color: #F7ECC4;
}

.menu{ 
  justify-content: flex-end;
}


/* Cards */

.card-text{
  font-family: 'Quicksand', sans-serif;;
}

.estiloBotones{
    background-color:  var(--colorTres);
    color:var(--colorCuatro);
    border: black;
    border-radius: 2px;
}

.estiloBotones:hover{
          background-color: var(--colorCuatro);
          color: var(--colorTres);
      }

.estiloBotones:focus:active{background-color: #772B08;
}

.detallesProductos{
  background-color:#F7ECC4;
}



/*  app.js */

.estiloSlogan{
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  padding: 2%;
  color:#8F7F10;
}



/* footer */

.footer{
    background-color:#817707;
    padding: 2%;
    color: #F7ECC4;
    text-align: center;
}

/* Carrousel */

.estiloCarousel{
  width: 60%;
  margin: 10px; 
  margin-right:auto ; 
  margin-left: auto;
}